*{
  font-size: 16px;
  font-weight: 500;
  color: rgb(27, 27, 27);
  font-family: "Roboto";
}

h1,h2,h3 {
  margin: unset;
}

p {
  margin: unset;
}

.App {
  display: flex;
  width: 100%; 
  justify-content: center; 
  padding: 2rem 0;
}

.app-body {
  display: block;
  max-width: 95%;
}

@media screen and (min-width: 68rem) {
  .app-body {
    max-width: 83.333333%;
  }
}